<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= "Invitation to join Library by #{@current_user.name}:" %></h3>
    <p>
      Click on the <%= link_to "Library", 'http://localhost:3000' %> to vist the applicatopn.<br>
    </p>
  </body>
</html>to 