<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= "Congratulations on becoming admin!" %></h3>
    <p>
      You are elected to be admin for the website. Please visit website <%= link_to "Library", 'http://localhost:3000' %> for additional features.<br>
    </p>
  </body>
</html>