<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= "New book #{@book.title} is added to your following list!" %></h3>
    <p>
      You have elected to follow this book.<br>
      You would receive review/rating mails, if enabled in preferences.<br>
    </p>
  </body>
</html>