<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= "Review of the book: #{@book.title}" %></h3>
    <p>
      Following review has been wriiten about the book <%= @book.title %>.<br>
    </p>
    <p>
      <strong> Rating: </strong> <%= @review.rating %>.
    </p>
    <p>
      <strong> Description: </strong> <%= @review.description %>.
    </p>
  </body>
</html>