<h1>Listing book_preferences</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_preferences.each do |book_preference| %>
      <tr>
        <td><%= link_to 'Show', book_preference %></td>
        <td><%= link_to 'Edit', edit_book_preference_path(book_preference) %></td>
        <td><%= link_to 'Destroy', book_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book preference', new_book_preference_path %>
